[2019-11-19 10:57] dnjohnstone opened #5 "Class hierarchy"
An issue to discuss openly class hierarchy for lumispy, from an e-mail with @jlaehne

We want to start out with CL, but need a more general parent that allows to add PL and EL at some point. Also you probably want to add TR-CL/PL at some point.

In general, I guess something like

-lumispec (inheriting from hyperspy/signal1D)
  |-cl
    |-cl-sem
    |-cl-stem
  |-pl
  |-el
-trlumi (inheriting from

[2019-11-19 15:44] jlaehne commented on #5
Well cl-sem and cl-stem would inherit from cl, and sticking to the naming of related hyperspy signals, that would give e.g. (with aliases in [ ]):

-LumiSpectrum (inheriting from hyperspy/signal1D) [LuminescenceSpectrum]
|-CLSpectrum          [CL,cathodoluminescence]
||-CLSEMSpectrum   [CLSEM]
||-CLSTEMSpectrum [CLSTEM]
|-PLSpectrum          [PL]
|-ELSpectrum          [EL]
-LumiTransient (inheriti

[2019-11-20 09:52] jordiferrero commented on #5
I will work on the hierarchy and I personally like the name `TimeRes` more than `Transient`.

- [ ] Modify class hierarchy (by @jordiferrero)

[2019-11-21 08:24] jlaehne commented on #5
I thought that `CLTransient` is more similar to `CLSpectrum`, with `TR...` and possibly also `TimeResolved...` as aliases.

[2019-11-25 12:04] dnjohnstone commented on #5
I'm a little confused about the time resolved stuff and dimensionality... That's probably because I don't do it!

Why is time-resolved stuff not <t|E> i.e. a Signal1D with a time navigation axis?

Do you do time and spatially resolved stuff? E.g. <x,y|t,E>?

To move forward in a sensible way. I think we'll establish the code hierarchy for all the non-time-resolved stuff now, and make the 0.0.1 rel

[2019-11-25 13:40] jlaehne commented on #5
Well that is why I put it to discussion. Is the time an additional navigation or signal axis? In principle, I would say it could be both and we have to find the most suitable convention.

You can still have 0, 1 or 2 spatial navigation dimensions. So, if time becomes a navigation axis, it would have to become the first navigation dimension [0], to be independent of how many spatial dimensions ther

[2020-01-30 10:39] jordiferrero opened #10 "[AttoLight] Signal x-axis"
When an Attolight file is loaded, the signal x-axis is not calibrated properly.
There are two ways to go ahead with this issue:

- Solve the spectrometer equation
- Save a background file manually, then using the x-axis from that file.*

*With this second approach, the Attolight system seems to have a bug, whereby if you are binning, the x-axis saved in the background file in a HYP map is not corr

[2020-04-01 21:35] jlaehne opened #14 "Energy conversion"
My code for energy conversion relies on the non-linear `DataAxis` that is not part of the HyperSpy release yet, but might hopefully become a pre-release soon. Should I still contribute it here already for you to use with the right hyperspy development branch?

It contains some additional features like a wavelength dependent refractive index of air based on an analytical function (therefore it can

[2020-04-01 22:09] jlaehne opened #16 "Package structure"
@jordiferrero You put the attolight reader under `utils/io_utils`. A few points concerning that

1. I think, we should try to be more consistent in the package structure to that of HyperSpy, therefore I would propose to place IO functions in a folder `io_plugins`
2. `io_utils` is a very generic name for a function that is specific to one brand of instrument. As we want to develop the package in a

[2020-04-01 22:14] jlaehne opened #17 "signals vs. _signals"
@dnjohnstone Do you know why in Hyperspy the signal classes are in `_signals`, while we have them in `signals`. Would it make sense to copy the structure here in that aspect?

[2020-04-02 08:28] jordiferrero commented on #14
I was thinking about this yesterday too.
If we do develop the code now relying on the `non-linear-axes` Hyperspy branch, it is quite tedious to add it as a dependency in the `setup.py` file (because upon installation it would git clone the branch and then install it, which takes longer than just using pip install the released versions).

Therefore I see two options:

1. To create a `dev` branch in

[2020-04-02 08:54] jlaehne commented on #14
I also think both are good options. The second might be a little easier for us to handle so that we don't always have to switch branches in lumispy also (in HyperSpy I basically live in the non-linear-axis branch for more than a year already). I'll try to find some time in the next days to add that.

[2020-04-15 15:06] ericpre commented on #17
Since things staring with `_` are considered as private, I believe the idea behind putting  signals in `_signals` is to make these modules private and these are added to the `api` module to make them public: this is what we do when running `import hyperspy.api as hs`. Having an API module allows to explicitly define what is part of the public API or not.
This was behind "my time" as hyperspy contr

[2020-04-15 15:32] francisco-dlp commented on #17
@ericpre, you guessed right. The idea was indeed not to expose the real location of the signals code in the pubic API so that changes in there don't break people's scripts and external packages.

[2020-04-20 11:19] jordiferrero commented on #16
I completely agree. I will migrate the `load_hypcard()` function to the new io_plugins structure, when I have some time.
## Added to Projects

[2020-04-20 11:27] jordiferrero commented on #14
@jlaehne What is the best way to ensure that anyone using LumiSpy works with the non-linear-axis branch?
I see 2 options:

- Force the installation of this branch during installation (mandated by the `setup.py` file) which I have tried and gives me many issues
- Every time we add a function that relies on non-linear-axis branch, we need to add Error handeling (with a note suggesting the user to in

[2020-04-20 16:43] jordiferrero commented on #5
I have added all these changes now.
I have left the LumiTransient (Singnal 2D) class open to any subclass.
I guess it will make sense to add them in the future. But for now, it is more tidy and similar to Hyperspy.
I have also added a supra-class called `CommonLumi` (similar to how pyxem deals with it) to mimic the role of `BaseSignal` in Hyperspy. In this general class I have added some functions

[2020-04-21 12:05] jlaehne commented on #14
Yes, I will add a note to the docstring and will see how to appropriately raise an error if the DataAxis object is not available.

[2020-04-21 13:09] jlaehne commented on #5
Just minor points about the functions defined in the different classes:

* `cosmic_rays_subtraction` is necessary for any type of spectrum recorded with a CCD, so I would move it to `CommonLumi` or `LumiSpectrum` (depending on whether it plays a role also for streak camera data or not, I'm not sure)
* I am not so sure about the correct position for `correct_grating_shift`. It looks to me like it n

[2020-04-21 14:26] jordiferrero commented on #16
@jlaehne I have looked into the Hyperspy way of loading files and it seems unclear to me on how to modify the `load` function.

As I understand, the `io.py` file (which contains the generic `hs.load()` function reads through all the `io_plugins/*.py` files looking for the right extension. If it finds it, then it runs the `.file_reader()` function specific to the manufacturer.

The issue I have is:

[2020-04-22 07:45] jlaehne commented on #16
I am not so sure, because the IO Plugins of Hyperspy will become an external package in the future.

@ericpre, @francisco-dlp: Is there a predefined way if a hyperspy extension wants to define additional IO routines? Is there a way to inherit, should we define them upstream so that they will become part of the new IO package in the future?

[2020-04-22 08:23] jordiferrero commented on #16
I have managed to find a way for now.
I basically inherit the `hs.io.load()` function as `lum.io.load()` but the only difference is that I redefine the `hs.io.load_single_file()` method for a lumispy specific one which first checks for io_plugins files in lumispy, and if it doesn't find any, then it runs the normal hs.io.load_single_file() from hyperspy.

For now it does the job perfectly, support

[2020-04-22 09:13] francisco-dlp commented on #16
I think that it is preferable not to hack hyperspy's ``load`` function à la pyxem. Instead just contribute the IO plugin to hyperspy. As mentioned above, the plan is to split the io plugins into a separate package, RosettaScIO, see https://github.com/hyperspy/hyperspy/pull/2174 . If that was not possible, could you explain why? Alternatively we could consider enabling the addition of IO plugins us

[2020-04-22 10:53] jordiferrero commented on #16
For now I have managed to "monkey patch" the load function as a short term solution to this issue.

However, this restructuring makes the process of transporting this code to hyperspy easier, as it is following the same structure as hyperspy. I will attempt so in the near future.

The main issue I am facing is that it doesn't seem clear to me what exact dictionary the `load_single_file()` needs to

[2020-04-22 11:03] jlaehne commented on #16
@jordiferrero #20 looks like a very sensible approach to me to implement the functionality here and then port it upstream to contribute it to hyperspy (thus RosettaScIO in the future).

Well, LumiSpy is registering its signals with HyperSpy (http://hyperspy.org/hyperspy-doc/current/dev_guide/writing_extensions.html), so when both are loaded, the HyperSpy functions should be able to access the Lumi

[2020-04-22 11:26] francisco-dlp commented on #16
I think that the simplest approach is to implement it in hyperspy branch straight away and pull request it as soon as you have a prototype. You can always work with hyperspy in development mode until the code is released. In this way you'll avoid dealing with the complexity of hacking hyperspy's `load` function and you won't force your users to amend theirs scripts once you move the code to hypers

[2020-04-22 12:35] jordiferrero commented on #16
@jlaehne @francisco-dlp  OK. That all makes sense. I will try to contribute to Hyperspy branch then, as an extension of io_plugins.
However, I still have this issue before proceeding:  it doesn't seem clear to me **what exact dictionary** the load_single_file() needs to pass to the load_with_reader() hyperspy function.

Right now, I have my personal loading function for the Attolight system (to be

[2020-04-22 12:50] francisco-dlp commented on #16
That's right, the reader must not import any of hyperspy's functions. Instead it returns a dictionary. That's not documented, but you can get a good idea of the specification by looking for example at the code of the [ripple plugin](https://github.com/hyperspy/hyperspy/blob/RELEASE_next_minor/hyperspy/io_plugins/ripple.py#L531). Then add it to [this list](https://github.com/hyperspy/hyperspy/blob/

[2020-04-23 10:19] ericpre commented on #16
Unfortunately, there are very limited documentation on writing io plugins but there are many examples which are more or less complicated/sophisticated so it is definitively worth looking at them.

[2020-04-25 16:26] jordiferrero commented on #16
Following from the discussion, I have created a PR in the main Hyperspy package for the next minor release [https://github.com/hyperspy/hyperspy/pull/2380](https://github.com/hyperspy/hyperspy/pull/2380). The loading of the data works perfectly, yet there is an issue with importing the external lumispy classes... which I don't know how to solve.

[2020-04-27 16:37] Divitini opened #23 "[Feature] Statistical analysis of model from data"
It would be useful to add a quick function that calculates some parameters to estimate the homogeneity in emission in a given area.
What I did in the past was to take the fitted model from a SI and use mean and std dev of the gaussian intensity and position. Also, I had a threshold on the relative intensity of a peak so that one could have an estimate of how many of the pixels are non-emissive.
I'

[2020-04-29 08:16] ericpre opened #24 "Continuous integration"
It would be good to set up continuous integration for this repository.

It is well documented online but as a starting point it may be worth having a look:
https://github.com/hyperspy/ci-scripts

[2020-04-29 09:11] jordiferrero opened #26 "Background storage"
In original code, the background was stored as a class attribute (`cl.background`).
In newer versions of code, the background is stored in the metadata (`cl.metadata.Signal.background`).

Some background related functions need to be adapted to this new version of code.

[2020-05-02 16:51] #26 closed

[2020-05-02 16:52] jordiferrero commented on #24
@ericpre If you are happy with this CI implementation, please cloase this issue. Otherwise we can work on it further.

[2020-05-02 16:54] ericpre commented on #24
I have wrote a couple of comments on #30. Having Azure pipeline would be worth to test on the 3 main platforms.

[2020-05-05 17:12] jlaehne commented on #23
`print_summary_statistics` works on signals, so on the original data. That gives you already some idea of the homogeneity. If you have multiple peaks, you can do the statistics on an interval of the signal axis with e.g. `isig`. You need a fit when you want to see the homogeneity for a specific component of a multi-peak signal where either the peaks overlap or if a simple background subtraction is

[2020-05-06 14:45] jordiferrero commented on #24
Working on adding Azure pipeline in #33 .

[2020-05-07 09:18] jordiferrero commented on #24
Now both Travis and Azure pipelines work well.
However, I would ask if you could quickly check if the Azure pipeline is doing the tasks it is supposed to do (so far it simply runs the same `pytest` scripts as Travis), @ericpre .

[2020-05-07 11:02] ericpre commented on #24
Yes, both are working, but I would suggest to do the following:
- travis test `pip` only install using packages from pypi
- azure test `conda` environment

At the moment, it azure is doing almost the same as travis, using packages from pypi instead of conda packages. This is because you are missing the files defining what package to install in the conda environment (see https://github.com/hyperspy

[2020-05-07 11:07] #24 closed

[2020-05-07 17:56] jordiferrero commented on #24
Here are the examples:
- [Here](https://dev.azure.com/Lumispy/lumispy/_build/results?buildId=28&view=results) the build was made setting `endpoint: jordiferrero`. All good.

- [Here](https://dev.azure.com/Lumispy/lumispy/_build/results?buildId=29&view=results) the only change was to add `endpoint:lumispy`.
This suddenly raises the following error:
`/azure-pipelines.yml: Could not get the latest so

[2020-10-03 19:38] jordiferrero opened #38 "[Attilight] Change flow to include `.sur` file loading"
With the addition of `.sur` file reading in Hyperspy 1.6, the loading functions for the `HYPMap.bin` are no longer necessary.
I will sort this out soon, cleaning up the `io-plugins` section.

[2020-10-06 07:05] jlaehne commented on #38
I will have a look at your changes as soon as I find the time.

[2020-10-06 07:38] jordiferrero commented on #38
I have opened 2 PR to deal with that.
But I haven't had time to actually make the changes I have in mind yet.
I hope to do it next Sunday. Will let you know when I have it ready so you can give your advice.  Thanks!

[2020-10-06 09:29] jlaehne commented on #38
No rush, I'll be on vacation the next two weeks.

[2020-10-06 14:27] jordiferrero opened #41 "Grating correction not working for non-square navigation axes"
The `grating_correction` function fails to work when using it on non-square navigation arrays.
The function needs to be generalised to any navigation shape.

TODO:
Find out the exact error risen in the terminal.

[2020-10-12 14:09] jordiferrero opened #42 "Hyperspy signal registration failing"
Following @ericpre #25 PR on fixing the signal registration for the lumispy classes, it is not working fully yet.
The tests in `test_signal_registration` are passing well, but if I run:

`s = hs.load(path, signal_type='CL_SEM',)`

The following warning raises:

`WARNING:hyperspy.io: signal_type='CL_SEM' not understood. See hs.print_known_signal_types() for a list of known signal types, and the dev

[2020-10-13 18:22] jordiferrero commented on #41
This has been fixed in #39
There was an error in broadcasting.

[2020-10-13 18:22] #41 closed

[2020-10-31 21:22] ericpre commented on #42
I can't reproduce: I have just tried with the development branch and it is working fine. The signal_registration tests pass on travis: https://travis-ci.org/github/ericpre/lumispy/builds/740491810.

Can you try to re-install lumispy?

[code]
Out:
[code]

[code]
Out:
[code]

[2020-11-02 09:08] jlaehne commented on #42
Same here, signal is correctly registered into HyperSpy.

Loading the Gatan Demo files from `lumispy-demos`, the signal type is automatically set correctly:
```<CLSpectrum, title: NW008-1_9k_spec1, dimensions: (|1336)>```
(same for Attolight demos, there setting `CLSEMSpectrum`)

If I remember correctly, you had that issue before, no?

[2020-11-08 16:31] jordiferrero commented on #42
Solved.
Windows has recently been giving me some issues.

[2020-11-08 16:31] #42 closed

[2020-11-08 16:32] #16 closed

[2020-11-08 16:32] #38 closed

[2020-12-04 09:27] #14 closed

[2021-01-25 17:27] jlaehne commented on #17
@jordiferrero, I think from the comments above, we can leave it as is.

The idea of LumiSpy is to be an extension of HyperSpy. As such, signals will likely not be called from LumiSpy directly, but as they are registered with HyperSpy the idea is to call them through the HyperSpy API.

It makes sense that we call the folder signals for clarity, but it does not need to be a private folder. I could t

[2021-01-25 18:44] ericpre commented on #17
It may be more simple to keep `signals` and tidy up the namespace: currently, everything is imported in lumispy and with time, it can get cluttered.
Also the `load` function and the `roi` module is imported from hyperspy and added to the lumispy namespace, this is not a standard practise in python and can be confusing for users to have the same objects which can be imported from different librarie

[2021-01-27 10:02] jlaehne commented on #17
Good point, we mirrored the pyxem namespace, so now that it is cleaned up, we should do the same ;-)

I'll give it a try.

[2021-02-07 00:31] jlaehne opened #52 "loadtxt, savetxt"
I want to implement a simple set of wrappers that use np.loadtxt and np.savetxt to load and save txt, dat, csv format files. Mostly metadata agnostic of course.  At least for single spectra as well as linescans. For more than one navigation dimension it would become more complicated, but at least 2d navigation with 0d signal axis (e.g. single parameters from fit results) would also be feasible. It

[2021-02-07 13:51] ericpre commented on #52
The issue with having a generic io plugin for txt/csv files is that there is no specification and therefore the plugin can't do much:
- loading data is trivial
- nothing to be done with restructuring the data
- not possible to set axes
- not possible to add metadata.

If there are specifications or it follows a specific know pattern, then this is different from the case above and, it makes sense t

[2021-02-07 13:53] ericpre commented on #52
Having examples would be good, see
https://github.com/hyperspy/hyperspy/pull/2306/files#diff-82b6f06aa6e3647b596d6dc24789557125d85d87ce203ad9a660ffc5c5ec78f4

[2021-02-07 22:15] jlaehne commented on #52
I see your point with the 'specs'. At least for saving I have my wrapper routines and think could make sense

[2021-02-21 18:52] jordiferrero commented on #52
I agree that we need some sort of function to integrate better with the Origin crowd.
Gunnar (here in Cambridge) has asked me for this functionality many times, as collaborators may not use Python.

What about having some general functions in the luminescence class to export the data? I envision some very simple function that simply takes the `s.data` and the `s.axes_manager.signal_axes[0].axis` a

[2021-02-21 19:02] jordiferrero opened #53 "Luminescence specific metadata"
I have recently tried to think of what parameters we should include in the `s.metadata` and what parameters stay as `.original_metadata` (and  #51 made me start this issue).

I normally load `.sur` files using the hyperspy io plugin. That reads the orignal_metadata (more than 50 parameters) and then I parse some relevant values to the metadata to be used in some functions (e.g. calibration, normal

[2021-02-22 07:42] jlaehne opened #54 "Test deprecation warning"
#44 introduced the following deprecation warning, which we should fix:
[code]

[2021-02-22 08:08] jlaehne commented on #52
I can contribute such a function, as I basically have some functions doing the job. I would just generalize them to decide the format based on the dimensions within the function instead of having several different functions:
- Spectrum: simple `.csv` (with options to choose the delimeter, maybe also to add a simple header)
- Linescan: signal axis as first column and navigation axis as first row
-

[2021-02-22 08:16] jlaehne commented on #52
I think the "examples" was more as an alternative for the HyperSpy case, where one could add an example for linescans. I think that is independent of whether we implement it here.

Apart from that, I would eventually include this functionality in one of the demos on `lumispy-demos`.

[2021-02-22 08:37] jlaehne commented on #53
I recently contributed a selective inclusion of CL metadata from Gatan files to HyperSpy: https://github.com/hyperspy/hyperspy/pull/2590

Gatan, unfortunately has a very different metadata structure, depending on acquisition mode (PMT/CCD) and again for spectral images. I tried to include the most important fields in `metadata.Acquisition_instrument.CL`

However, so far it does not include post-pr

[2021-02-22 18:43] jordiferrero commented on #53
That's very nice!
I guess my one comment is: should we have the CL specific metadata structure to be exclusive to lumispy?

I feel that the metadata search capability is definitely something for hyperspy, but maybe the CL metadata fields should be part of lumispy only?

What are your thoughts?

[2021-02-22 18:44] jordiferrero commented on #54
@jordiferrero Will do asap.
Sorry

[2021-02-22 18:49] jordiferrero commented on #52
I'm happy for you to go ahead.
I also have some code for the 2D fitting results to pandas arrays. But please go ahead.

I absolutely agree that Origin is a big no for more than linescans. So just raise an error indeed.
Let me know if you want me to help out with this eventually.

[2021-02-22 19:02] gkusch commented on #52
As a comment, before you go too deep into certain directions. Origin can without problems load hdf5 files and is how I am handling data export at the moment in my local scripts for extracting spot spectra. hdf5 in this case would have the advantage that you can just append more and more points to it (should make a linescan easy) and can at least theoretically store metadata (I haven't had time to

[2021-02-22 19:42] jlaehne commented on #54
Just wanted to document it, before we forget it.

[2021-02-22 21:25] jlaehne commented on #53
The DigitalMicrograph reader was already parsing metadata for EELS and EDS, so I thought it makes sense to add the functionality for CL metadata there as well.

[2021-02-22 21:29] jlaehne commented on #53
The longterm aim for HyperSpy is that all the IO functions will move to an extension package at some point.

For me it makes more sense to handle the metadata when the file is loaded, otherwise one has to run an extra function on the data, or we again need a wrapper for the load function, no?

However, I do not know how it is for the reader that you use, could the metadata parsing be added there?

[2021-02-22 22:05] jlaehne commented on #52
I often have colleagues who want the data in a simple text format, that is why I have written some small functions. Nothing elaborate, but the main point is in putting the different vectors and the data matrix together the correct way.

I can put together a rough proposal and let you comment along the way before adding all the nice-to-have details such as choosing the delimiter.

If Origin can han

[2021-02-22 22:06] jlaehne commented on #17
Done with #49.

[2021-02-22 22:06] #17 closed

[2021-03-06 16:21] jordiferrero commented on #53
The loader I use is for `.sur` files mainly.
That one parses all the `s.original_metadata` very nicely.
However, it is in my opinion a bit annoying to have to go back to the original metadata every time I need a value (because it has too many values).

That was the idea of my comments.

My question is: where should the metadata parsing from `original metadata` --> `metatadata` function be placed?

[2021-03-06 17:08] jordiferrero commented on #52
I agree with both of you.
Then I wait for your proposal and will comment on that.

[2021-03-08 18:25] jlaehne commented on #52
See #56 for a the idea of implementation.

[2021-03-09 11:17] jlaehne commented on #53
In principle, I prefer to have one general node for the CL system as it forms one acquisition instrument and include both the spectrometer and CCD/PMT related metadata there. My idea was to have what you call `Spectrometer` in the main `CL` node and the detector specific metadata in a sub-node. I'm happy to rename tings like 'dispersion_grating' to `groove_density`, I just took the names that Gata

[2021-03-17 12:59] jordiferrero opened #59 "Zenodo DOI for lumispy"
Hi all,

I was recently discussing on setting up a Zenodo DOI for any publication that may come from the code we are actively writing.
I have seen that both hyperspy and pyxem use such a system which keeps track of the versions for referencing.

Before I set up a Zenodo account for this repo, I wanted to discuss with you @jlaehne @ericpre if you have any objections/suggestions before going ahead.

[2021-03-17 13:53] jlaehne commented on #59
Yes, we should ... both get a Zenodo DOI and do a 0.1 release.

I have no experience with either (So I do not know if one should predate the other). But am happy to contribute.

[2021-03-18 10:13] ericpre commented on #59
To get a zenodo DOI, it may be need a release first. Maybe it may be worth doing two releases in a row in order to get the concept DOI in the readme and also check that the process are working fine.

Relevant link to what is done for hyperspy:
- https://github.com/hyperspy/hyperspy/blob/RELEASE_next_minor/releasing_guide.md
- https://hyperspy.readthedocs.io/en/latest/citing.html

Your zenodo needs

[2021-03-18 10:24] ericpre commented on #59
This link summarises well the process:
https://genr.eu/wp/cite

[2021-03-19 10:13] jordiferrero commented on #59
Thanks for the help!
Two questions:

1. Can I create a concept DOI without the first release? Anyhow, that is the DOI that we would normally reference... Or do we need the first release to connect to Zenodo (as I understand, that's not the case). If not, I would just go ahead now and create the concept DOI.

2. For setting up the first release I am a bit confused with all the wording in https://gi

[2021-03-19 10:33] jordiferrero commented on #53
I am not sure if having all these as a CL node makes sense. I was thinking a broader metadata that could also work for PL people. At the end of the day, the only difference in our setups and PL setups is the presence of a laser/light source as opposed to the electron beam. All the other elements are the same (spectrometer and detector). That's why I still think keeping them as separate units makes

[2021-03-19 12:35] jlaehne commented on #53
Good point, then CL/PL/EL would just be another metadata-field.

Along a similar line is this HyperSpy issue https://github.com/hyperspy/hyperspy/issues/2095 - it proposes that SEM/TEM nodes should be merged to a microscope node, as they have similar structure and e.g. the `acquisition_mode` field or another extra field like `microscope_type` would just distinguish the type. Unfortunately, it has

[2021-03-19 13:24] jlaehne commented on #53
Still, how about having CCD/PMT as well as SI as subsets of spectrometer? The important thing I would say is the overall structure. Every instrument may still have variations of the available parameters.

The names should not contain spaces and special signs, so the units would have to be either following fixed convention, or they might be added as an additional metadata fiels such as `life_time_u

[2021-03-19 13:48] jlaehne commented on #53
How do you distinguish between `life_time` and `real_time` is it automatically calculated? Gatan does not have such a distinction.

[2021-03-19 21:01] ericpre commented on #59
1. I don't know, but what would it be referencing then, if there is no release?
2. There is a bit of jargon... the changelog is created manually and is commited as any other code. It needs to be part of the tag/release.

The minimum workflow is as follow:
- have the code ready, including changelog
- make sure the version is set correctly
- make the sdist and wheel - there are different way to do i

[2021-03-24 10:18] jordiferrero commented on #53
Attolight provides us with the `real_time` which is slightly different than `dwell_time` due to binning.

I would keep units to a fixed convention (as hyperspy does).

I am happy to go ahead with a PR in which I will add a small guide on the structure of luminecence specific metadata.
Once we have that, what would be the next step? Change the IO-plugins? Or create an io-util which can parse the or

[2021-03-24 10:21] jordiferrero commented on #59
1. I wanted to simply get the base doi (`concept idea`) for the GitHub folder. I will see if Zenodo need a release to create a DOI. Otherwise I will set this up.

2. Can you create the GitHub actions for that, @ericpre ? Happy to learn too (but I am quite confused on how to start) so we can do that in the future...

[2021-03-24 12:22] jlaehne commented on #59
I can also have a look at the actions, but never did it before either.

I created a developer team for the LumiSpy organization. You probably have to give that team some rights to the repository - so far I cannot even merge PRs and the like. We would also have to include @ericpre there in order that he could help out.

[2021-03-24 12:50] jlaehne commented on #53
Please do so.

Once we have the structure, I could adapt the DM reader to change the metadata structure it fills with the CL data accordingly (introduced in https://github.com/hyperspy/hyperspy/pull/2590 - but as it is part of the dev-branch only so far, it does not hurt changing that again now).

The `.sur` reader only creates a minimalistic `metadata` object in the `_build_metadata` function so

[2021-03-24 13:39] LMSC-NTappy commented on #53
Dear all,

That sounds great, if you could post the PR# on this thread once it's created that would be great, I'd be happy to participate in this discussion.

Both could work in my opinion. When coding, keep in mind that in a .sur file the data will be spectral only if `s.original_metadata.Object_0_Channel_0.Header.H05_Object_Type` is equal to 20 (Spectrum) or 21 (HYPCard), for a spectrum or a spe

[2021-03-24 15:40] jordiferrero commented on #59
I have now hopefully given the developer team full access to everything...

I have also linked Zenodo with the LumiSpy organisation.
As soon as we set up a first release, we will automatically get a DOI and a DOI badge.

I would propose for now to target the first `v 0.1` release with the code as it is. All we should really add in the GitHub actions.
Or do you think there are any major issues we s

[2021-03-24 15:48] jlaehne commented on #59
Great. As it is really just a `v0.1` release, I would just go ahead to get it out.

If we use the github actions, further releases should not be so complicated and we can do another one as soon as any relevant new features are included.

[2021-03-24 16:58] jordiferrero commented on #59
I agree.
So would you suggest to just go ahead as it is now?

And after that first v0.1 release we can set up the actions (aka set up pip install and conda-forge install.... which may take a bit of time)

[2021-03-24 17:26] jlaehne commented on #59
I might at least give the actions a first try. Maybe I find some time to have a look in the next two days.

[2021-03-24 17:41] ericpre commented on #59
Yes, after the first release, the installation instructions and `README.md` should be updated, for example to include the concept DOI, formatting of the `README.md` (pypi doesn't support all markdown), etc. A second release shortly after the first one will make sense to sort out all these details - it actually fairly easily to forget about these...

@jlaehne, if you want to explore the github acti

[2021-03-24 21:44] ericpre commented on #53
I have been wondering what to do with the metadata for some time... Parsing the metadata at the class initialisation is indeed an interesting idea, but it has the following drawback:
- the mapping of `original_metadata` to the `metadata` needs to be maintained in the signal class and this mapping is mainly reader dependent: for a specific signal, you can read different format, which means differen

[2021-03-25 07:52] jlaehne commented on #53
That sounds like a fair strategy. I agree with your arguments favoring the reader. Parsing it in the signal definition could not be universal either, but would have to include specific variations for every type of format, because manufacturers do not follow any type of systematic scheme.

At the same time, defining the metadata scheme per signal type in `hyperspy_extensions.yaml` gives the necessa

[2021-03-25 14:56] jlaehne commented on #53
When thinking further about this, many signals will share parts of the metadata structure and we need mechanisms how to easily ensure consistency. So I was just wondering about possibilities of inheritance of metadata and defining blocks of metadata that can be imported in a signal. So a kind of modular system. Any idea how to go about that @ericpre?

For example, in LumiSpy, all signal types will

[2021-03-25 15:50] ericpre commented on #53
I was thinking that the most common one should be defined in base classes, for example, the `stage` metadata could go in the `BaseSignal` definition.
But maybe, it is better not to tight it up with the signal definition then... and simply define the metadata at the root of the  `hyperspy_extensions.yaml` file? I don't think that there is any benefit to have the metadata defined with the signal. It

[2021-03-26 17:06] jordiferrero commented on #59
OK.
So I am experimenting with pypi and swine.
I have managed to make the package  and upload  it on `testpypi` which is great (https://test.pypi.org/project/lumispy/).
However, when I try to install the package using pip, I get the following error:
[code]
Why do we have scipy and numpy as dependencies, if they are also dependencies within hyperspy?
Any easy way to fix this before I publish in to

[2021-03-26 17:54] jordiferrero commented on #59
We have now our first release & a DOI (https://doi.org/10.5281/zenodo.4640445).

I may have made some mistakes, but I wanted to get the first release out so we can correct for them.

I have tried to install `pip install lumispy` to a clean conda environment and it works well!
Very happy!!

[2021-03-26 21:48] jlaehne commented on #59
nice ;-)

[2021-03-26 21:51] jlaehne opened #62 "Fix coverage badge"
The coveralls badge is claiming 0% coverage, though when you check out the details we are at >90%. Probably something in the coveralls settings?

Or use codecov instead of coveralls, like HyperSpy?

[2021-03-26 22:31] ericpre commented on #59
Indeed, this seems to be all good. I made a pull request to add the recipe to conda-forge, see https://github.com/conda-forge/staged-recipes/pull/14406. You need to confirm that you are happy to be maintainer of the recipe and it will get reviewed and merged. Once this is done, the repository containing the feedstock will be created and you will have write access to that repository to maintain the

[2021-03-26 22:37] ericpre commented on #62
The codecov seems to work well with HyperSpy and the corresponding github annotations on the changes of the pull request are very convenient!

[2021-03-26 22:58] jlaehne commented on #59
Confirmed @conda.

I also added a PR to add LumiSpy to the hyperspy-extensions-list: https://github.com/hyperspy/hyperspy-extensions-list/pull/6

[2021-03-27 20:23] #62 closed

[2021-03-27 20:27] jlaehne commented on #62
Nice, the badge works.

[2021-03-27 23:36] jlaehne opened #65 "LumiSpy logo"
Any ideas for a LumiSpy logo?

One idea I had was using this map of emission energy around a dislocation in GaN, but any further ideas are welcome.
![image](https://user-images.githubusercontent.com/7076057/112737796-5d997280-8f5d-11eb-92a4-bb02e852cde6.png)

[2021-03-28 17:23] jordiferrero commented on #65
Your last comment triggered one of my hobbies, computer design.
I made some sketches of ideas I also had a while ago combining the *lambda* and the *spectral colours* (like it is not that important... but it is fun!)

Happy to combine my ideas with your GaN, let me know what you think :-)
<img width="3043" alt="Asset 15@2x" src="https://user-images.githubusercontent.com/9082687/112761294-edd9c500-

[2021-03-28 17:36] jordiferrero commented on #5
I think this can be closed.

[2021-03-28 17:36] #10 closed

[2021-03-28 17:36] jordiferrero commented on #10
Fixed with the grating equation solver.

[2021-03-28 19:36] ericpre commented on #65
@jordiferrero, some very good ideas in your design! Columns 1 is very nice. Would it work to make the `S` a snake?

I am not very good at this, but with some help, we gave a go and here are some additional ideas to add the mix:

![Screenshot 2021-03-28 at 18 42 37](https://user-images.githubusercontent.com/11851990/112765129-9f7cf400-9003-11eb-95ed-5d901ddd13be.png)

Some of it appears not to be v

[2021-03-28 20:00] jlaehne commented on #65
@jordiferrero, I like the typography and the simpleness of columns 1&2, with a clear preference for the black version (not only because I use the dark theme on github, but also because lumi-labs tend to be dark, which is less the case for CL though)!

1B is nice, because I think including the full name is good. On the other hand, we need a square logo for the icon. Either having 2B as a compact ve

[2021-03-28 20:49] jlaehne commented on #54
Just found another warning in the test suite, which I think results from https://github.com/LumiSpy/lumispy/blob/b28238198f52cb52c6557232cb49ab2175ab37e8/lumispy/tests/test_axis-conversion.py#L305

I guess that `solve_grating_equation(axis2, 1, 1, 1, 1, 1, 1)` triggers the following warning when running `_n_air()`

[code]

[2021-03-28 21:53] jordiferrero commented on #65
I love all your comments! I will put together a version similar to 1B with waves and will share again so we can vote again!
Thanks for the involvement :-)

[2021-03-28 21:55] jordiferrero commented on #54
It does. But I wanted to test for that. I guess I will have to add the warning test on it so it accounts it as a warning within the test and not as an unplanned warning. Noted.

[2021-03-29 14:46] #52 closed

[2021-03-29 14:48] #5 closed

[2021-03-29 15:40] jordiferrero commented on #65
Here we go again...
<img width="1960" alt="Asset 16@2x" src="https://user-images.githubusercontent.com/9082687/112862097-b3812e00-90b5-11eb-8b7d-d908f2843150.png">

I really like the snake hint... after all it's Python

[2021-03-29 15:59] jlaehne commented on #65
I first thought soemthing is weird, before I realized the snakehead .

B3 looks too much like hair under static charge.

B2 looks more like waves. Would it be possible for the lines of the waves to be thinner towards the center? Angles have to be polished a little probably, but I tend towards that direction. The flower in "B1" is nice and simple, but I like the idea of light and waves.

[2021-03-29 21:37] ericpre commented on #65
The waves does work very well... but the snack is very nice!

[2021-03-29 23:05] jlaehne commented on #65
I could not help playing a bit myself:

![image](https://user-images.githubusercontent.com/7076057/112910509-c7e41b80-90f3-11eb-9302-fef895fe2796.png)

[2021-03-30 13:57] jordiferrero commented on #65
I really like the frequency differences between the colours!

I'm happy with the C2 (works better when you zoom out and see the logo in small as lines are thicker) and then A2.

Do you have the editable file?
I think I would only change a few details (the end of the orange, yellow and green have a rounded head while the others don't) and for C2, the red wavelength is a bit too close to the S in my

[2021-03-31 08:49] ericpre commented on #59
The conda-forge feedstock is now setup and the package works well: https://github.com/conda-forge/lumispy-feedstock.

Now that there is a conda-forge package, I will add it the hyperspy bundle for the next release of the bundle - most likely just after the next hyperspy release.

[2021-03-31 09:18] jlaehne commented on #59
Started on the Github actions in #68

[2021-03-31 10:24] jordiferrero commented on #65
![logo_final_march_2021](https://user-images.githubusercontent.com/9082687/113130101-f4935280-921b-11eb-925e-d6de5883eaa5.png)

Final version?

[2021-03-31 10:33] jlaehne commented on #65
Almost, for the orange (and maybe also yellow and green) the last segment is a bit too straight, could you make it a bit more like on the red?

But otherwise, really cool!

I fear, the square version would get too small when used as avatar, would the `λy` version still work with the new wavy lines? I fear the purple would get too close to λ, but maybe you can make it work somehow?

[2021-03-31 10:53] ericpre commented on #65
Agree, this is nice. I was also thinking the same about using the `λy` version for the square aspect ratio.

[2021-03-31 12:31] jordiferrero commented on #65
A- Square not simplified:
![logo_sq_final_march_2021](https://user-images.githubusercontent.com/9082687/113144520-9d967900-922d-11eb-8f27-191539ae2174.png)
B- Square simplified 1:
![logo_sq_final_march_2021_2](https://user-images.githubusercontent.com/9082687/113144200-4abcc180-922d-11eb-9263-fb46d97610cc.png)
C- Square simplifed 2:
![logo_sq_final_march_2021_3](https://user-images.githubuserconte

[2021-03-31 13:21] jlaehne commented on #65
+1 for B & D

Does not hurt having the white BG version as svg somewhere (though if we have the svg somewhere, which we should, it can be easily created anytime). I would prefer to discourage use of the white BG version - so not to publish it in equal terms.

[2021-03-31 13:29] jlaehne commented on #65
How about including an svg of the logo in the repository and adding the image as headline to the Readme, then it would also appear on e.g. Pypi.

[2021-04-02 09:56] jordiferrero commented on #65
All completed now.
Files are in the repo.

[2021-04-02 09:56] #65 closed

[2021-04-02 10:37] ericpre opened #71 "Azure pipeline failure"
The failure on azure pipeline are temporary, because the `dask-core` package is broken on anaconda defaults. The package on conda-forge is fine but CI is setup with the anaconda defaults channels as higher priority than conda-forge. This should be temporary until https://github.com/AnacondaRecipes/dask-core-feedstock/pull/2 is merged and the packages available on the server.

[2021-04-02 11:09] jlaehne commented on #71
Thanks, I was already wondering.

[2021-04-07 09:42] francisco-dlp commented on #53
I think that the cleanest way of tackling the "metadata babel" issue is fully separating the metadata translation from hyperspy, the extensions and even the readers. I am thinking on a sort of [pandoc](https://pandoc.org/) for metadata. Pandoc defines its own markdown specification and includes bidirectional translators for many file formats. We could do the same: a package that translates metadat

[2021-04-14 09:52] jordiferrero commented on #59
Thank you all for this first release!

[2021-04-14 09:52] #59 closed

[2021-04-14 10:02] jordiferrero opened #73 "Dealing with SEM/HAADF complementary data with their respective luminescence"
I have recently been wondering on what the best strategy would be to do the following:

All of my CL-SEM data always comes with SE images with it (I suppose for CL-TEM the equivalent would be a HAADF image). These SE images are acquired at the same time as the luminescence. However, they are not integrated with hyperspy at all.
While it is true that you can load the SE image separately (as `s`) an

[2021-04-14 11:37] ericpre commented on #71
This is now fixed.

[2021-04-14 11:37] #71 closed

[2021-04-14 11:48] ericpre commented on #73
The management of the different signals is taken care by the workflow: the python script or the notebook.

In the case of the navigator, it would be worth considering improving support signal navigator if this is thought in a generic fashion and in a way that it doesn't too much burden to other functions. Maybe it is worth continuing this part of the discussion at https://github.com/hyperspy/hyper

[2021-04-14 12:07] jordiferrero commented on #73
So you mean I should stick to keeping track of the changes in the navigation axis of the `cl` signal and manually applying the same changes to the `s` SE image file?
That's what I am doing, but I still think there must be a better way...

[2021-04-14 14:03] jlaehne commented on #73
@jordiferrero - I understand your point. In principle it applies also for EELS and EDX data and might be of more general interest. Though in many cases the spectral maps will have a lower resolution than proper HAADF or SE images of the same region, and a direct linking of this data is of limited value.

For example, our CL system does not record the SE signal in parallel. I usually have a corresp

[2021-04-14 14:23] ericpre commented on #73
Indeed, there is room for improvement for the navigator and it would good to discuss how to improve it with others who are interested in this and this is why I put the link to the other issue!

[2021-04-26 21:45] jlaehne opened #75 "Updated map method in HyperSpy v1.6.2"
Indeed, the failure are related to changes in the `map` method:
[code]
This point out to an argument which doesn't have the right shape. It is fairly likely that ambiguous usage of `map` such as this one are not allowed anymore.

_Originally posted by @ericpre in https://github.com/LumiSpy/lumispy/issues/68#issuecomment-826840816_

[2021-05-02 16:50] jlaehne opened #76 "harden security of github actions"
See https://github.com/hyperspy/hyperspy/issues/2727

We should:
- [x] limit write access for workflows by setting default to read for the lumispy organization (https://github.blog/changelog/2021-04-20-github-actions-control-permissions-for-github_token/)
- [ ] consider to pin actions that use secrets

[2021-06-05 18:59] ericpre commented on #75
Fixed in #77.

[2021-06-05 18:59] #75 closed

[2021-07-01 19:43] ericpre opened #81 "Release v0.1.1"
What's about making a v0.1.1 release? A new release would fix the [integration test suite](https://github.com/hyperspy/hyperspy-extensions-list/runs/2958026091?check_suite_focus=true) which is failing with lumispy 0.1.0. This will also save me the reception of an email notification every day to tell me that the integration test suite is failing!

[2021-07-01 20:42] jlaehne commented on #81
well, the release workflow is failing now: https://github.com/jlaehne/lumispy/runs/2966555151?check_suite_focus=true

[2021-07-01 20:52] ericpre commented on #81
Most likely similar to https://github.com/hyperspy/hyperspy/pull/2768#issuecomment-858841975 and https://github.com/hyperspy/hyperspy/commit/6226eabd25a0f703364f6f363fa163585a7f0e82?

[2021-07-01 21:10] jlaehne commented on #81
Thanks, it was the same.

[2021-07-02 09:26] jlaehne commented on #81
There seems to be a problem with the PyPi secrets: https://github.com/LumiSpy/lumispy/runs/2970813472?check_suite_focus=true

@jordiferrero can you check them? I don't seem to have access to the settings/secrets on the repository.

[2021-07-02 10:22] ericpre commented on #81
It seems that this release workflow have [never been used](https://github.com/LumiSpy/lumispy/actions/workflows/release.yml) to upload directly to pypi, which means that it is possible that the secrets are not set correctly in github.

[2021-07-02 10:46] jlaehne commented on #81
Yes, the first release was manual. The workflow was added afterwards and has only been tested in my private repo (without upload of course). But in the repo settings, I cannot access the secrets to add them.

[2021-07-02 20:02] jlaehne commented on #81
I will be offline for the next month and will not be able to finish up this release, feel free to do so once the secrets are sorted out @jordiferrero and @ericpre

Process is summarized here: https://github.com/LumiSpy/lumispy/blob/master/releasing_guide.md

[2021-07-08 15:44] ericpre commented on #81
@jordiferrero, any chance you can check the secrets?

[2021-07-12 21:53] jordiferrero commented on #81
Hi @ericpre and @jlaehne. First of all, sorry for being completely disconnected for the last 1.5 months.
I really had to finish some project off and I am currently taking a short intermission of my PhD during a summer internship in ... Germany :-) (not Berlin though... @jlaehne).

I will be back fully online in September but by then I will check the last PR and the secrets, as requested.
I will do

[2021-08-17 21:25] jordiferrero commented on #81
Hi both,
I have double checked the tokens for pypi and updated them with new ones (TWINE_USER and TWINE_PASSWORD). Can you check if that works?

Otherwise, I have also invited both of you as "owners" of the lumispy pypi project.
Hopefully you can also create a token from there (in case tokens are user-specific, which they should not according to what I have read).

I hope this is useful. Let me kn

[2021-08-19 17:55] ericpre commented on #81
Thanks @jordiferrero, I had a go and it didn't work:
https://github.com/LumiSpy/lumispy/runs/2970813472?check_suite_focus=true

I can make a token on pypi but I can't set the secrets to this repository, because I don't have the admin right, only write right I think: https://docs.github.com/en/actions/reference/encrypted-secrets#creating-encrypted-secrets-for-a-repository
Can you please give the ad

[2021-08-19 20:14] jlaehne commented on #81
Thanks @ericpre for being quicker ;-)

[2021-08-21 17:29] jordiferrero commented on #81
OK. I didn't realise there was a "higher" category than collaborator.
Now the 3 of us should be Admins.
Let me know if you can edit the secrets now.
However, I am starting to think that the problem may be a different one... because the secrets should not depend on the person who is doing a PR (for the release) but the repo one I go months ago should work for all of us.

PS: As far as I can remembe

[2021-08-22 19:54] jlaehne commented on #81
The release is out on PyPi: https://pypi.org/project/lumispy/

For some reason Zenodo creates multiple DOIs: https://zenodo.org/search?page=1&size=20&q=conceptrecid:%224640445%22&sort=-version&all_versions=True
- any ideas why? Do we need to correct something in the settings, or was that just because of the failed release runs we had along the way. Can we then clear out the duplicate ones (and the

[2021-08-22 21:22] jlaehne commented on #81
Created PR to update `hyperspy-extensions-list`: https://github.com/hyperspy/hyperspy-extensions-list/pull/14/files

[2021-08-22 22:34] jordiferrero commented on #81
THANK YOU! That's great you managed to make it work. Was it done automatically or manually?

The Zenodo is indeed weird. There should only be 1 DOI per release. But it seems like it created a few 0.1.1 DOIs since Aug 19... some bug there. However, I don't think you can delete them (that would defeat the purpose of Zenodo) but I wouldn't worry too much. We should always use the base DOI for referen

[2021-08-23 07:00] jlaehne commented on #81
As the earliest one is even from June, I guess a new DOI is created automatically every time a tag is pushed to the repo - and as the build then failed a few times, we now have the duplicate ones. But then that should not be a problem in the future now that the issues are sorted out.

[2021-08-23 08:16] ericpre commented on #81
Yes, when hitting the various issues, I had to create several release but forgot that a zendo entry would be created for each created release! Not the best, but not a big deal neither.

[2021-08-23 08:16] #81 closed

[2021-08-25 09:32] ericpre opened #86 "Fix image on pypi"
The nice lumispy logo doesn't play well with pypi: https://pypi.org/project/lumispy.

To figure out how to fix it, [`twine check`](https://twine.readthedocs.io/en/latest/#twine-check) and https://packaging.python.org/guides/using-testpypi may be useful.

[2021-08-25 09:34] ericpre opened #87 "Rename `master` to `main`"
See https://github.com/github/renaming for details.

The `master` branch simply needs to be renamed but I open an issue to avoid surprises!

[2021-08-25 14:36] jlaehne commented on #86
Thanks, I'll have a look into it. One easily finds similar discussions:

https://github.com/pypa/warehouse/issues/5246

https://stackoverflow.com/questions/41983209/how-do-i-add-images-to-a-pypi-readme-that-works-on-github

[2021-08-25 14:40] jlaehne commented on #86
Basically, we used a local reference to the image. With the `raw`-link to github, the image should be universally accessible.

[2021-08-25 14:41] jlaehne commented on #87
If no one objects, I would wait a few days and then do the rename.

[2021-08-28 11:58] jlaehne commented on #87
Done.

Everyone locally still using the master branch now needs to rename their local clones:

[code]

[2021-08-28 12:29] jlaehne commented on #87
And rename the branch name in your fork of course.

[2021-09-01 08:02] #86 closed

[2021-09-06 07:28] #87 closed

[2021-10-07 10:54] 0Hughman0 opened #90 "Backwards incompatible changes made 0.1.0 to 0.1.2"
Hi,

It seems some backwards incompatible changes were made between version 0.1.0 and 0.1.2.

My code for 0.1.0 made use of

`lumispy.signals.luminescence_spectrum.LumiSpectrum.background_subtraction`

in 0.1.2 this is now broken as this method has been removed. It seems this functionality has now been moved to:

`lumispy.signals.luminescence_spectrum.LumiSpectrum.remove_background_from_file`

How

[2021-10-07 11:07] #90 closed, assigned to nobody

[2022-01-14 17:19] jordiferrero opened #96 "Setting a variance model in the lumispy object after Jacobian transform"
After some discussion with @LMSC-NTappy, we realised that the variance model stored in the `LumiSpectrum.metadata.Signal.Noise_properties.variance` should no longer be homoscedastic.

Instead, the noise variance should also be converted to eV, but with the intensities multiplied by the square of the jacobian (according to `Var(aX) = a**2*Var(X)`).

I am not sure what the best way to implement this

[2022-01-17 08:24] LMSC-NTappy commented on #96
Dear @jordiferrero,

thank for putting a comment on this. Indeed, it would be great to implement this! I think it is much of a problem, the noise properties of hyperspy admit a signal object of the same dimensions as the data object in the `sig.metadata.Signal.Noise_properties.variance` properties of the object. There's even a method dedicated to setting it up: `data_ev.estimate_poissonian_noise_v

[2022-01-17 10:30] jlaehne commented on #96
Thanks for the initiative.

In principle, I would add a function `var2eV` similar to https://github.com/LumiSpy/lumispy/blob/34a247bfe37e9b74967908f5524f0319eae6bfd7/lumispy/utils/axes.py#L108

It would differ only by the additional squaring (your 4th line). Then in https://github.com/LumiSpy/lumispy/blob/34a247bfe37e9b74967908f5524f0319eae6bfd7/lumispy/signals/luminescence_spectrum.py#L58
one wou

[2022-01-17 10:41] jlaehne commented on #54
@jordiferrero could you have a look at these warnings? Then we could maybe do a patch release soon.

[2022-01-17 11:01] LMSC-NTappy commented on #96
Thanks for this! Sounds just what we need.

My only remaining question is, is there a method get the variance map from the linear parameters set in Noise Properties? I have never tried to set these and have always computed the variance map directly (bc I estimate it from PCA)

Cheers

Nicolas

Télécharger BlueMail pour Android<https://bluemail.me>
Le 17 janv. 2022, à 11:30, "Jonas Lähnemann" ***@*

[2022-01-18 14:58] jordiferrero commented on #96
Just to document this discussion for the future.
@jlaehne has set as default the `s.estimate_poissonian_noise_variance()` for estimating the noise in any general noise signal.
However, if you pass in your own noise signal, as @LMSC-NTappy suggests, then the Jacobian transformation also works.

[2022-02-05 00:33] jordiferrero opened #100 "Added Read the Docs support"
Hi all,

I have wanted to do this for very long...
I have now added support for the read the docs. This means that we can have explanations on the functions we write/methodologies in a nice formatted way.

As far as I am aware, such guides can be added to `user_guide/file.rst`. Feel free to add content there.
I have a list of pages I would like to add for the analysis of PL data (coming soon).
@jl

[2022-02-05 00:39] jordiferrero commented on #100
This issue can be closed anytime, as it has already been resolved. It was more of an announcement.

[2022-02-07 13:26] jlaehne commented on #100
Great, thanks @jordiferrero for starting out on this. I have been wanting to suggest this for a while as well. Now that the basic setup is done, it should be straightforward to contribute.

I would propose that I redirect the domain https://lumispy.org to the documentation then.

Given our logo, we should maybe use a dark theme as standard. For example that is possible with the theme used by https

[2022-02-14 21:54] jlaehne commented on #100
See #103

[2022-02-15 08:44] jlaehne commented on #100
ToDo:
- [x] Adapt color behind logo, provide dark theme (see #103),
- [ ] Write introductory page that gives an overview of the signal types under development and summarizes functionality present and planned,
- [ ] Write documentation about energy/wavenumber conversion and Jacobian,
- [ ] Add documentation on variance,
- [ ] Write documentation on fitting,
- [ ] Give overview of other utility func

[2022-02-15 22:54] jordiferrero commented on #100
How did you get a `.org` domain? First news to me!

All ToDo's I completely agree and we are getting started in Cambridge to cover some of those initial documentation files.

One last comment I had was whether to use `.md` or `.rst` files for the documentation. As far as I am aware, both can be compiled by Readthedocs. I used `.rst` because that's default, but I find `.md` cleaner and easier to wr

[2022-02-16 08:31] jlaehne commented on #100
Reserved it about a year ago on private account (costs only 18 Euro a year). So far, it points to the GitHub page.

Feel free to add points to the list! Just thought it would be good to document the process/progress. If we add the associated PRs to the end of the points, we can also document who is working on what.

I can live with both. But converting some file types yesterday, I agree that `.md`

[2022-02-16 08:39] ericpre commented on #100
I don't know, but I would expect `rst` format to support more features? For example, can you use all features provided by these [extensions ](https://github.com/hyperspy/hyperspy/blob/db5743b294703cf0418d72846356c7f54db9ee95/doc/conf.py#L33-L40) with the markdown fromat?

[2022-02-16 08:57] jlaehne commented on #100
Here is some reading on MarkDown vs ReStructuredText:
https://www.zverovich.net/2016/06/16/rst-vs-markdown.html

Seems that markdown is definitely more limited. In particular when it comes to e.g. math in the documentation (which we will have). Note that also the docstrings are in ReST and using different languages there makes little sense.

As ReST is the standard in python documentation and used

[2022-02-16 09:38] hakonanes commented on #100
The [Furo theme](https://pradyunsg.me/furo/customisation/colors/#how-light-and-dark-mode-work) is light (default) or dark depending on the request by the user's browser. We use default Furo without customization in kikuchipy. Note that some care must be taken with Matplotlib figures as backgrounds should be explicitly set to white so that axes labels and such are readable in the dark theme. HyperS

[2022-02-16 10:12] jlaehne commented on #100
@jordiferrero can you add the domain on readthedocs as described in this link? I would then set up the pointer on the provider side.

[2022-02-16 10:18] jlaehne commented on #100
Thanks @hakonanes for the feedback and advice. I really like the Furo theme as well, but given that our logo's background is black (and I really prefer that version over the white one), the best solution to me was to adapt the theme from [Pillow](https://pillow.readthedocs.io/) to have a black background behind the logo both in the dark and light version. But thanks for the comments for possible c

[2022-02-16 19:34] #96 closed

[2022-02-17 08:37] jlaehne commented on #54
This one is fixed in #104 , the deprectation warning remains to be done

[2022-02-17 08:51] jlaehne opened #105 "Docstring formatting in RTD"
In this file of the API documentation, for some functions the first line of the Docstring is highlighted (which it should not be) as if there is an indentation error. Anyone have an idea? @ericpre @hakonanes you have more experience with that.

https://lumispy.readthedocs.io/en/latest/api/lumispy.signals.luminescence_spectrum.html

Examples are `px_to_nm_grating_solver`, `to_array`, `to_invcm`, `t

[2022-02-17 08:56] hakonanes commented on #105
It's the `Parameters:` that throws sphinx off, at least for `px_to_nm_grating_solver()`:

https://github.com/LumiSpy/lumispy/blob/047d97513d322820a19c329ad4d6a545c333980f/lumispy/signals/luminescence_spectrum.py#L673-L678

This is evident from the [build log](https://readthedocs.org/api/v2/build/16114340.txt):

[code]

[2022-02-17 08:58] hakonanes commented on #105
`Note` should be `Notes` [here](https://github.com/LumiSpy/lumispy/blob/047d97513d322820a19c329ad4d6a545c333980f/lumispy/utils/io.py#L95). Seems to be things like these.

[2022-02-17 09:12] jlaehne commented on #105
Thanks for the quick reply.

[2022-02-17 09:48] jlaehne commented on #105
Fixes these in #107, but the problem seems to be that I am importing part of the docstrings with `%s` syntax. All strings that have this are malformatted, all others not.

[2022-02-17 10:22] hakonanes commented on #105
Looks like the docstring of `LumiSpectrum.px_to_nm_grating_solver()` has two "Parameters" headers and wrong indentation, checked in IPython with `LumiSpectrum.px_to_nm_grating_solver?` from your `docstrings` branch:

[code]

[2022-02-17 12:29] jordiferrero commented on #105
I must apologise on this matter.
I wrote these functions with little thought/idea that it would be parsed automatically in the future.
I guess I need to learn how to write proper docstrings from now on :-)

Which standard should we always follow? I am still unsure... PyCharm always suggests a different style every time I create a docstring, so some of these mistakes may be also caused by my PyChar

[2022-02-17 12:50] jlaehne commented on #105
We should follow [numpydoc](https://numpydoc.readthedocs.io/en/latest/format.html#docstring-standard) standard to stay consistent with HyperSpy, I would say:
http://hyperspy.org/hyperspy-doc/current/dev_guide/writing_docs.html#docstrings

I mentioned it here already:
https://github.com/LumiSpy/lumispy/blob/main/CONTRIBUTING.rst#code-style

[2022-02-17 12:51] jlaehne commented on #105
Saying this, I am also still learning to be consistent on that. And that is what the reviewing of PRs is good for, that a second pair of eyes looks also at those things.

[2022-02-18 08:34] jlaehne commented on #105
It was all about getting the indentations of the inserted docstring segments in relation to the main docstring right.

Apparently, when the docstring is imported from a file where the indent is different (e.g. as it is not part of a class) that can lead to trouble.

In `luminescence_spectrum.py` `to_array` and `px_to_nm_grating_solver` now have a weird indentation in the docstring on first sight -

[2022-02-22 20:15] #105 closed

[2022-02-22 23:28] jlaehne commented on #53
To move forward on this, I propose to fix the convention the LumiSpy specific parts of the metadata in the documentation based on parts of the above discussion:
https://github.com/LumiSpy/lumispy/pull/109

[2022-02-25 14:01] jlaehne commented on #100
@jordiferrero, we should discuss whether we should integrate the demos into the user guide.

I basically see three options,
- actually write the main parts of the userguide directly as tutorials using jupyter-notebooks, as done on https://kikuchipy.org
- keep them separate, but add an extra section 'Tutorials' to the menu that integrates the notebooks into the documentation
- just integrate a link

[2022-03-16 17:40] jordiferrero commented on #105
Thanks for the info. Will take that into account from now onwards!
I guess now we can double check the documentation easily to spot mistakes :-)

[2022-03-16 17:50] jordiferrero commented on #100
Two comments:
1. Thank you @jlaehne for the amazing additions you have done in the last month to the Read the Docs! It is really coming together!
2. For the tutorials any option works. In my opinion, I see documentation more of a "text book" file where the functions are explained with some physical explanation (best example is the ML section in the Hyperspy docs). The demos are "plug-and-play" fil

[2022-03-16 19:47] ericpre commented on #100
I strongly agree with this. The risk with using notebook is that it is very easy to have too much code and not enough explanation, which means that the section is more a demo than a tutorial or a user guide.
Using notebook is great to make sure the documentation is up to date and works fine but it requires the discipline of focusing on the explanation!

[2022-03-16 20:11] jlaehne commented on #100
At the moment lumispy.org points to the lumispy.readthedocs.org - but with the settings described here, we should be able to make it work so that it looks as if you stay on lumispy.org

[2022-03-22 20:52] jlaehne opened #115 "Transient signal classes"
We missed something when introducing the transient signal classes last year (and no one seems to have used them so far? Anyway there are no specific functions). At the moment, we have a set of Signal2D classes for transients:
[code]

That is correct for a streak camera image <x,y|E,t>, but not for a pure transient <x,y|t> (without spectral information).

The `...Transient` classes should in fact b

[2022-03-23 08:34] jlaehne commented on #115
`LumiStreak` could also be an alternative or alias for `LumiTransientSpectrum` that is shorter. I find that the latter nicely shows that time-resolved and spectral information is combined, but it is kind of a long name for a signal_type compared with e.g. just `CL` and `Lumi`.

Any opinions @LMSC-NTappy @jordiferrero @gkusch?

[2022-03-23 12:00] LMSC-NTappy commented on #115
It's true. I myself mostly (only) use the general Signal1D/Signal2D stock classes. I guess when hyperspy 1.7 is out we'll add dedicated axes for spectroscopy setups (non-linear) and that's going to be a good start. The question is what kind of analysis is needed specifically for luminescence / TR spectra ? A "true luminescence color" widget would be nice...

Couldn't suggest anything better.  Btw

[2022-04-21 21:54] jlaehne opened #121 "LumiSpy v0.2"
As soon as [HyperSpy v1.7](https://github.com/hyperspy/hyperspy/issues/2845) is released, we should release v0.2 to be included in the bundle. The following PRs should be merged until then:
- (#114)
- #116
- ! #118 !
- ! #120 !

[2022-04-22 06:25] jlaehne commented on #121
HyperSpy will likely be released next week as the epsic workshop is coming up the week after. So we should also aim at middle next week!

[2022-04-23 11:28] ericpre commented on #5
Reading this while reviewing #118 and I am not convinced that there is a case for having so many classes for the following reasons:

- the way we structure our data analysis is independent of how the data have been acquired. The fact that the streak camera generate an image with one axis being a time axis is not a reason for processing data with the time as signal axis, in my opinion. When reading

[2022-04-24 14:22] jlaehne commented on #5
Well, I envision e.g. having some specific models for time resolved data in these classes. Though the additional CL/PL subclasses are maybe overkill at the moment.

[2022-04-26 07:13] ericpre commented on #5
It is worth creating these classes only when the needs arise?
Since, it is not defined what the functionalities would entail, what the requirement would be and there is ambiguity on its structure, I don't think that we should plan/speculate on how it should be. At least I can't do it without further information and I am not convinced that this is a efficient use of our time to do this now.

[2022-04-26 10:23] jlaehne commented on #5
I think need will arise soon. We had already introduced a transient class - and realized that it was a too quick shot, which this PR is supposed to correct (in that sense your comment is correct).

To able to use the energy axis facilities of lumispy for streak camera images, we will have to have a 2D signal class that inherits from the 1D luminescence classes. Similarly, it should inherit from a

[2022-04-27 17:55] ericpre commented on #5
Ok, it seems that it would be need a bit of thinking!

[2022-04-27 18:10] #115 closed

[2022-04-28 14:57] jordiferrero commented on #115
I personally have no strong opinions on the naming of the classes as I have never used them yet.
However, I am also in favour of using names clos to the data and not the detector.

[2022-04-29 16:15] jordiferrero opened #124 "Create a `remove_background_signal` function"
#### Describe the functionality you would like to see.
A method called `remove_background_signal` where a Signal1D object is subtracted from another Signal1D object.
If the axes don't match (in size, offset and scale for UniformDataAxis), the background signal should be rebinned/interpolated to the main signal axis.

#### Describe the context
When trying to fix some warning bugs, discussion made u

[2022-04-29 16:37] jlaehne commented on #124
For the method to work with non-uniform axes, we will first have to implement rebinning for non-uniform axes, which would be helpful in any case.

[2022-04-29 16:51] jlaehne commented on #121
@jordiferrero, would you have time to do the 0.2 release tonight once #114 is merged? I could do it, but I have not such a good internet connection at the moment.

[2022-04-29 19:04] #54 closed

[2022-04-29 20:25] #121 closed

[2022-06-10 23:03] jlaehne commented on #76
Restricted permissions for Actions:
- allow only selected non-lumispy-workflows
- workflows have only read permissions
- actions cannot create or approve PRs

[2022-06-15 07:01] jlaehne commented on #23
I would propose the following way forward:

- Create a function `print_model_statistics` for the `BaseModel` class in HyperSpy.
- This function should iterate through the components of the model,
- and for each component determine the relevant parameters (e.g. `A`, `sigma`, `centre` for `Gaussian`).
- The statistics for each parameter should then be printed in a table per component similar as in `

[2022-06-15 07:07] jlaehne opened #129 "extend functionality of crop_edges"
#### Describe the context
`crop_edges` is a wrapper function for `inav` that takes the parameter `crop_px` and removes as many pixels from all sides of a map.

#### Describe the functionality you would like to see.
To make this function more versatile, it would make sense to alternatively allow the following sets of parameters:
- `crop_x_px` and `crop_y_px` to crop different amounts of pixels from

[2022-06-15 07:38] jlaehne opened #130 "Implementation of Spectroscopy File Readers"
#### Describe the functionality you would like to see.
We want to provide readers for different luminescence spectroscopy file formats. In particular,
- [ ] Jobin-Yvon XML format (`.xml`)
- [ ] S&I Trivista XML format (`.tvf`)
- [ ] [Renishaw Wire format](https://zenodo.org/record/495477) (`.wdf`)
- [ ] [Grams/Galactic SPC file format](https://en.wikipedia.org/wiki/SPC_file_format) (`.spc`)
- [ ]

[2022-06-15 12:54] jlaehne commented on #130
For Renishaw `.wdf` there is a python parser [renishawWiRE](https://github.com/alchem0x2A/py-wdf-reader) based on the [Matlab parser](https://zenodo.org/record/495477).

`.spc` files can be read by the python packages [rohanisaac/spc](https://github.com/rohanisaac/spc) or its fork [spc_spectra](https://github.com/NickMacro/spc-spectra). There is also a [parser in R](https://github.com/r-hyperspec/

[2022-06-15 13:52] francisco-dlp commented on #130
No, registering IO is not implemented. There is a PR to split the IO https://github.com/hyperspy/hyperspy/pull/2174. I agree that it would be good to implement IO plugin registration feature.

[2022-06-19 20:01] jlaehne commented on #130
If I have a look at the discussion, the intention seems to vary between providing a generic scientific reader package with `RosettaSciIO` and a more EM focussed package. And there are pro&cons for having a single reader package against several focused on certain fields. So I am not fully decided where to place such readers. Using the HyperSpy reader API makes sense, I guess. And registering them w

[2022-06-19 20:16] jlaehne opened #133 "Increase coverage"
We have some low hanging fruit in increasing the test coverage of LumiSpy:

- [x] `px_to_nm_grating_solver` in `signals/luminescence_spectrum.py` is not covered [See codecov, lines 291-310]
- [x] For `to_eV` and `to_invcm` in `signals/luminescence_spectrum.py`, the case where the variance is a single `int/float` is not covered when `inplace=True`. [See codecov, lines 154-161 & 309-316](https://app

[2022-06-20 20:59] ericpre commented on #130
The ideas being a single separate library are:
- independent development from hyperspy
- this library can be used outside hyperspy
- avoid dispersion of community efforts/knowledge
- provide consistent API for all IO plugins

[2022-06-21 09:56] jlaehne opened #136 "Webhook failing"
As you set it up @jordiferrero, we have a webhook for read-the-docs running that seems to be regularly failing:
https://github.com/LumiSpy/lumispy/settings/hooks/341637685?tab=deliveries

The rtd integration seems to work otherwise. Any ideas how to fix that?

[2022-06-21 12:11] francisco-dlp commented on #130
OK, I'll resurrect https://github.com/hyperspy/hyperspy/pull/2174. I submitted the draft to RnM, but actually, since it doesn't touch the API at all, I could well resubmitted it to Rnm, isn't it?

Due to popular demand, I will implement a plugin system like the extensions one. I imagine the following structure: HyperSpy import all IO plugins from RosettaSCIO. RosettaSCIO itself just provides light

[2022-06-21 12:55] jlaehne commented on #130
Sounds fair.

An alternative route could be to develop the plugin/extension system in a separate PR to Rnm and in a second step include it in the split.

[2022-06-22 10:01] ericpre commented on #130
My impression is that plugins or entry points is not right solution here and this is the wrong direction of travel, as this would facilitate dispersion of efforts. For example, in the case of `mib` reader in pyxem, there have been issue with from the start and now it is very difficult to fix it without breaking it - I have tried to improve the situation but it was really a pain and I am under the

[2022-06-22 10:44] jlaehne commented on #130
In principle, I am happy with either solution - just we need to know where to start the development of the new readers.

Just a few points that come to my mind:
- A single IO library without sub-libraries will become quite large and some people might not be interested in having support for all those file formats.
- On the other hand, providing a nexus reader for a large variety of data, mainly dif

[2022-06-22 11:44] ericpre commented on #130
I think that the approach [suggested above](https://github.com/LumiSpy/lumispy/issues/130#issuecomment-1162900090) is ready to go, can be done quickly and simply needs a push. @francisco-dlp, does it sound like a fair statement?

For users, the size of library (as in file size to download) will not be large if we don't package the test data and use pooch to download test data when running the test

[2022-06-22 12:53] jlaehne commented on #130
OK, so I guess the way forward for us would be to start implementing the new readers in a local branch of HyperSpy (instead of directly in LumiSpy) and then hopefully the basic split will be in time so that we can migrate the code to the new repo and do a PR there.

[2022-06-22 15:44] jlaehne commented on #130
Yes, we are planning to start in the next few weeks.

[2022-06-22 15:59] francisco-dlp commented on #130
I have restarted working on #2174. I will resubmit a working prototype next week and create a new repository for rosettascio where you could submit your new readers.

I agree with @ericpre in that a single IO library is better in most respects than having readers scattered around multiple libraries and packages. However, HyperSpy is increasingly used beyond EM,  so, while it'll be good to have all

[2022-06-22 16:55] jordiferrero commented on #129
This makes sense.
I initially implemented this function because I always run this "simple" cropping during pre-processing.
It would be great for a student to do it. Just make sure the original functionality is still working (so when you only pass 1 parameter, it crops all sides equally).

[2022-06-22 17:00] jordiferrero commented on #136
I don't understand what you mean. Could you maybe expand a bit?
Is the fail produced every time we change the docs?

[2022-06-22 17:09] jordiferrero commented on #130
@jlaehne I just wanted to add to this discussion that this is the way I personally approached the new I/O reader for the Attolight files (before @LMSC-NTappy wrote the full version). Working on your own branch in the main HyperSpy is a good compromise, and you can also create a lumispy install tag in `setup.py` that installs the branch of interest (as we did for the non linear axis for a long whil

[2022-06-22 17:33] jlaehne commented on #136
You set it up, so I thought you have a better idea. I just saw that under the link above there is a long list of failures. It makes the impression that it is every time a new commit that affects the docs is uploaded.

Just realized that there is a second functioning webhook for readthedocs:
https://github.com/LumiSpy/lumispy/settings/hooks/341638412?tab=deliveries
(the `Payload URL` is different)

[2022-06-22 17:34] jlaehne commented on #129
Of course, one should be able to pass either of the three sets of parameters mentioned above.

[2022-06-22 17:46] jordiferrero commented on #129
Glad to hear a student is coming to help you with coding :-)

[2022-07-05 13:11] francisco-dlp commented on #130
As discussed above,  I have restarted working on splitting the IO code. I've just submitted a WIP PR that supersedes #2174, see #2972. I am very interested in your feedback.

[2022-07-06 07:03] Divitini commented on #23
Sorry for the delay on this - I'm trying to dig out the code, although it was very basic and can be rewritten easily. I might have a postdoc who could be interested in doing this. I agree on your suggestions on the best way forward, thanks a lot for that!

[2022-07-23 18:00] jlaehne commented on #130
With [RosettaSciIO](https://github.com/hyperspy/rosettasciio) now split from HyperSpy, the new readers can now be contributed there.

[2022-08-29 18:20] 0Hughman0 opened #139 "Adding an interactive way to slice HS over a wavelength range, and view the result spatially!"
#### Describe the functionality you would like to see.

In the context of taking hyperspectral maps, sometimes you may have a sample where in different regions one would expect peaks at different wavelengths to become dominant.

It's useful to be able to quickly scan over a given wavelength (or energy!) range, and see how the intensity of signals within that range vary spatially.

#### Describe th

[2022-08-30 09:18] ericpre commented on #139
This makes sense to have such features; as an alternative of implementing new classes, I would suggest to use already existing functionalities using the following approach:

[code]

The
In the first two steps need the correct argument to be efficient (avoid redundant computation) and are very similar to: https://github.com/pyxem/pyxem/blob/996651e5c2ac22cbaf0e11fca1eed8cbd5a35616/pyxem/signals/com

[2022-08-30 11:35] 0Hughman0 commented on #139
Great thanks so much for the feedback.

Indeed the functionality I want to add looks very similar to the one you linked in `pyxem`.

I do think the ability to have multiple 'channels' would be quite beneficial, and I think interactivity is a must for this to be useful for people to quickly use this tool.

I do think such a thing could be widely useful, but I don't know what the philosophy is hyper

[2022-08-31 20:10] ericpre commented on #139
Following the approach used in https://github.com/pyxem/pyxem/blob/996651e5c2ac22cbaf0e11fca1eed8cbd5a35616/pyxem/signals/common_diffraction.py#L76-L127, below is an example that works ignoring the part with `hs.plot.plot_images` that needs to be made interactive:

[code]

[2022-08-31 20:13] ericpre commented on #139
Regarding implementing it in `hs.plot.plot_images`, this could be done in a similar way as its `Signal1D` counterpart: https://github.com/hyperspy/hyperspy/pull/2414

[2022-09-18 11:20] jordiferrero commented on #139
@0Hughman0 thanks for the contribution! Let us know if you managed to make it work using hyperspy interactive method with 2d images. I have also tried in the past and got very confused with the interactivity of 2 rois in parallel.
If it does not work, I believe lumispy could benefit from such functionality.

[2022-09-18 11:28] jordiferrero commented on #136
Yes indeed. That was when I was setting it up and the first time I did it, I messed it up with the URL name. Then I fixed it. But it seems the old webhook was still linked to the repo.
Fixed now by removing failing webhook.
Thanks!

[2022-09-18 11:28] #136 closed

[2022-09-18 11:42] jordiferrero commented on #100
Sorry for the delay.
I have now set this up but I still need @jlaehne to set up the following in the `lumispy.org` settings provider:
- I have done steps 1-5.
- What is left to do is to setup the DNS provider accordingly. I believe you need to point `lumispy.org` to `readthedocs.io`. Since we want to point it to the root domain of `lumispy.org`, you should use an ANAME or ALIAS record (not 100% su

[2022-09-18 12:13] jordiferrero commented on #76
The only actions that use secrets in lumispy are in the `release.yml` actions:
- GITHUB_TOKEN to create a new release
- TWINE_USERNAME & TWINE_PASSWORD for submitting the new version to PyPI.

@jlaehne what do you want to do with this? I've been reading a bit more on pinning actions, but not sure how to proceed.

[2022-09-18 16:58] jlaehne commented on #100
I'm checking with the provider how to set that up, seems that they may have to edit the entry.

[2022-09-18 17:08] jlaehne commented on #76
I am not fully sure either, but think that for these actions it should be OK as it is. In that case we could close this issue.

@ericpre I think we never implemented pinning for HyperSpy either?

[2022-09-19 09:02] ericpre commented on #76
From checking the current workflows, the ones with `permissions: contents: write` are not using third party actions, which means that this is fine as it.

[2022-09-19 09:02] #76 closed

[2022-09-19 10:48] jlaehne commented on #100
Aargh, the provider does not support ANAME or ALIAS (apparently a proprietary, non-standard add-on to DNS). Only possibility apart from migrating the domain seems to be setting a CNAME record for `docs.lumispy.org` (`lumispy.org` could then redirect there. For the moment, could you please change the readthedocs settings to the domain `docs.lumispy.org`, @jordiferrero .

[2022-09-19 12:00] ericpre commented on #100
Would it be possible to get `lumispy.org` fixed as it make the [check links build](https://github.com/hyperspy/rosettasciio/actions/runs/3081705988/jobs/4980553461) failed in the rosettasciio repository?

[2022-09-19 15:47] jordiferrero commented on #100
It is all working now with `docs.lumispy.org` as the CNAME.
readthedocs and lumispy.org all redirect to `docs.lumispy.org`

[2022-09-19 15:52] jlaehne commented on #100
The following points were still remaining on the checklist:

- [ ] Write documentation on fitting,
- [ ] Add documentation on variance to fitting chapter,
- [ ] Merge Installation guide in the main folder into the new one in the documentation and correct links,

[2022-09-19 16:00] jlaehne commented on #100
As you had been at it already with #141, and both installation pages are from you -- could you have a look at the installation guides again @jordiferrero?

For the fitting and variance documentation, would that be something for you @LMSC-NTappy?

[2022-09-20 08:46] LMSC-NTappy commented on #100
Thanks for the nice work @jlaehne !

For me it looks good, I don't think much more than this is needed in the fitting and variance documentation.

I know it will sound like an attempt at self promotion (which it is), but do you think it could be beneficial to add a reference to my article covering the topic as well? Feel free to refuse :)

https://aip.scitation.org/doi/10.1063/5.0080486

[2022-09-20 21:34] jlaehne commented on #100
There is the additional page on fitting in general, which is still a stub: https://docs.lumispy.org/en/latest/user_guide/fitting_luminescence.html
Motivated by your paper, I thought you could maybe help extending that one, and yes a reference could be included (even though unfortunately the paper and associated jupyter-notebooks do not include a reference to LumiSpy, but only to HyperSpy).

[2022-09-21 09:17] LMSC-NTappy commented on #100
Fair enough, I will expend the doc on fitting when I find time and cite my paper (Indeed, I did not make use of lumispy then). Sorry it might take a few month before I am able to find time to do it, as I am currently writing my dissertation =].

Cheers

Nicolas

[2022-09-21 10:28] jordiferrero commented on #133
Coverage 100%

[2022-09-21 10:28] #133 closed

[2022-09-21 11:10] 0Hughman0 commented on #139
Thanks for the encouragement.

I will have a go at achieving the same thing with built-in hyperspy functionality. Although it sounds like from what you are saying, @ericpre, it will not be possible to overlay the maps and have them automatically update until there's a some tweaks to the `hs.plot.plot_images` function?

From briefly looking at the source, I think either `hs.plot.plot_images` needs

[2022-09-21 13:20] 0Hughman0 commented on #139
ok please see #148, I haven't gone as far as writing tests and docstrings (excited to try pytest-mpl!)

[2022-09-21 16:33] ericpre commented on #139
As it has been done for `hs.plot.plot_spectra` (see https://github.com/hyperspy/hyperspy/pull/2414), it should be implemented in a way that the plot update automatically when the data changed. This changed is needed in the `hs.plot.plot_images` and the user doesn't need to do anything with events.

[2022-09-22 21:27] jlaehne opened #152 "Consolidate axis conversion codes"
1. As pointed out in https://github.com/LumiSpy/lumispy/pull/140#discussion_r977382638, there is quite some duplicate code in the if/else statements of the axis conversion codes that can be consolidated. Possibly also the

2. It would be desirable to allow any cross-conversions between wavelength, wavenumber and energy (documenting in the metadata the conversions to warn if multiple conversions ar

[2022-09-24 18:03] ericpre opened #153 "Failure with numpy 1.24.dev"
From https://github.com/hyperspy/hyperspy-extensions-list/actions/runs/3119041322/jobs/5058746331

[code]

[2022-10-22 13:35] jlaehne opened #155 "Slicing of energy/wavenumber signal with isig fails"
#### Describe the bug
Error occurs when slicing a signal with `isig[x:y]` that was converted using the lumispy functions `to_eV()` or `to_invcm()`.

#### To Reproduce
Steps to reproduce the behavior:
[code]

Leads to `TypingError`:

[code]

#### Expected behavior
If the energy is set up manually it works
[code]

#### Additional context
Fix will be submitted, forcing the dtype in `axis2eV` and `axi

[2022-10-31 22:28] ericpre opened #157 "Failure with numpy dev"
From https://github.com/hyperspy/hyperspy-extensions-list/pull/28

[code]

[2022-11-01 10:33] #155 closed

[2022-11-02 16:34] ericpre commented on #157
Was already reported in #157! ;)

[2022-11-02 16:34] #157 closed

[2022-11-02 18:20] #153 closed